<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parfum Overzicht</title>
    <link rel="stylesheet" href="/styles.css">
    <script defer src="/script.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <form action="">
        <section class="input-group mb-3 mt-3">
        <input type="text" id="filterInput" placeholder="Zoeken">
    </section>
    </form>

    <table id="fragrancesTable">
        <thead>
            <tr>
                <th id="sortByName">Naam</th>
                <th id="sortAge">Leeftijd</th>
                <th id="releasedate">Releasedatum</th>
                <th id="category">Categorie</th>
                <th id="price">Prijs</th>
                <th>Details</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <% fragrances.forEach(fragrance=> { %>
                <tr>
                    <td>
                        <%= fragrance.name %>
                    </td>
                    <td>
                        <%= fragrance.age %>
                    </td>
                    <td>
                        <%= fragrance.releasedate %>
                    </td>
                    <td>
                        <%= fragrance.category %>
                    </td>
                    <td>
                        <%= fragrance.price %>
                    </td>
                    <td><a href="/detail/<%= fragrance._id %>">Details</a></td>
                    <td><a href="/edit/<%= fragrance._id %>">Edit</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>